.colection-banner {
  padding: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &__image {
    img {
      z-index: -1;
      width: 100%;
      position: relative;
    }
  }

  &__button {
    position: absolute;
    button {
      cursor: pointer;
      padding: 14px 40px;
      border: 2px solid #1A1A1A;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #1A1A1A;
      @media screen and (max-width: 767px) {
      }

      @media screen and (max-width: 567px) {
          font-size: 16px;
          line-height: 22px;
          padding: 9px 24px;
      }
    }
  }
}