@font-face {
    font-family: 'Gotham';
    src: url('../../assets/fonts/Gotham-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Gotham';
    src: url('../../assets/fonts/Gotham-Book.woff') format('woff');
}

@font-face {
    font-family: 'Gotham';
    src: url('../../assets/fonts/Gotham-Medium.woff') format('woff');
}